In [1]:
import socket
import pyarrow as pa

In [3]:
HOST = '127.0.0.1'
PORT = 9143

In [16]:
with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as s:
    s.connect((HOST, PORT))
    s.sendall(b'HELLO WORLD!\n')
    data = b''
    while True:
        newdata = s.recv(1024)
        if not newdata:
            break
        data += newdata

In [17]:
pa.ipc.open_stream(data).read_pandas()

   val  name   key
0  100  col1  key1

In [19]:
with open('../data.bin', 'rb') as f:
    df = pa.ipc.open_stream(f).read_pandas()

In [20]:
df

       key teacher level
0     math  alfred    20
1     math    jeff    30
2  english     kim    30
3  english    lynn    30