In [1]:
import socket
import pyarrow as pa

HOST = '127.0.0.1'
PORT = 9143

In [2]:
# read data from socket
def fetch_data():
    with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as s:
        s.connect((HOST, PORT))
        s.sendall(b'hello world\n')
        data = b''
        while True:
            newdata = s.recv(1024)
            if not newdata:
                break
            data += newdata
    return data

In [3]:
%time buffer = fetch_data()

pyarrow.Table
partition key: float
sepal_width: float
target: int32

In [ ]:
reader = pa.ipc.open_stream(buffer)
table = reader.read_all()
table

In [4]:
table.to_pandas()

    partition key  sepal_width  target
0             7.4          2.8       2
1             4.7          3.2       0
2             5.7          2.5       2
3             5.6          2.8       2
4             4.6          3.2       0
5             5.5          2.6       1
6             4.3          3.0       0
7             5.4          3.0       1
8             6.1          2.6       2
9             6.5          3.0       2
10            6.2          3.4       2
11            6.6          3.0       1
12            7.7          3.0       2
13            5.9          3.0       2
14            5.8          2.7       2
15            7.9          3.8       2
16            4.9          2.5       2
17            6.3          2.5       2
18            5.2          2.7       1
19            7.2          3.0       2
20            7.3          2.9       2
21            5.0          2.3       1
22            5.1          2.5       1
23            4.8          3.0       0
24            7.6          3.0       2
25            6.9          3.1       2
26            6.7          3.0       2
27            4.4          3.2       0
28            6.0          3.0       2
29            7.1          3.0       2
30            6.8          3.2       2
31            6.4          3.1       2
32            4.5          2.3       0
33            5.3          3.7       0
34            7.0          3.2       1

In [4]:
gdf = cudf.DataFrame.from_arrow(table)
gdf

NameError: name 'cudf' is not defined

In [ ]:
bc = BlazingContext()
bc.create_table("classes", gdf)
bc.describe_table("classes")
result = bc.sql("SELECT * FROM classes")
result

In [ ]:
n_neighbors = 15

# we only take the first two features. We could avoid this ugly
# slicing by using a two-dim dataset
X = gdf.iloc[:, :2]
y = gdf.iloc[:, 2]

h = .02  # step size in the mesh

# Create color maps
cmap_light = ListedColormap(['orange', 'cyan', 'cornflowerblue'])
cmap_bold = ['darkorange', 'c', 'darkblue']

weights = 'uniform'

# we create an instance of Neighbours Classifier and fit the data.
clf = KNeighborsClassifier(n_neighbors=15)
clf.fit(X, y)

# Plot the decision boundary. For that, we will assign a color to each
# point in the mesh [x_min, x_max]x[y_min, y_max].
x_min, x_max = X.iloc[:, 0].min() - 1, X.iloc[:, 0].max() + 1
y_min, y_max = X.iloc[:, 1].min() - 1, X.iloc[:, 1].max() + 1
xx, yy = cupy.meshgrid(cupy.arange(x_min, x_max, h),
                        cupy.arange(y_min, y_max, h))
Z = clf.predict(cupy.c_[xx.ravel(), yy.ravel()])

# Put the result into a color plot
Z = Z.reshape(xx.shape)
plt.figure(figsize=(8, 6))
plt.contourf(xx.get(), yy.get(), Z.get(), cmap=cmap_light)

# Plot also the training points
sns.scatterplot(x=X.iloc[:, 0].to_array(), y=X.iloc[:, 1].to_array(), hue=np.array(['setosa', 'versicolor', 'virginica'])[y.to_array()],
                palette=cmap_bold, alpha=1.0, edgecolor="black")
plt.xlim(xx.min(), xx.max())
plt.ylim(yy.min(), yy.max())
plt.title("3-Class classification (k = %i, weights = '%s')"
            % (n_neighbors, weights))

plt.xlabel('sepal length (cm)')
plt.ylabel('sepal width (cm)')

plt.show()